body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #EDEDF2;
}

.global-holder {
  height: 95vh;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

/* THE SIDEBAR STYLE IS IN INLINE */
.sidebar {
  background-color: white;
}

.nav-section a:hover {
  opacity: 0.6;
}

.settings-section a:hover {
  opacity: 0.6;
}
/* ADDED SOME FOR SIDEBAR */

.page {
  width: 100%;
  margin: 0 5%;
  border-radius: 10px;
  height: auto;
  padding: 50px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-evenly;
  background-color: white;
}

.dashboard, .announcement {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #03147C;
  text-align: center;
}

.page img {
  width: 100%;
  height: 200px;
}
